TABLE.lastlogin { border: 1px solid #999; border-collapse: collapse; }
TABLE.lastlogin THEAD TD { background: #ddd url('images/listheader.gif') repeat-x; }
TABLE.lastlogin TD { padding: 4px 8px; border: 1px solid #999; font-size: 95%; white-space:nowrap;}
.lastlogin_info .license {color:#aaa;font-size:90%}.lastlogin_info .license a {color:#aaa}